{{ define "content" }}

<div class="row" >
    <div class="col-lg-12" >
        <div class="panel panel-info">
            <div class="panel-heading">
                Running Queries
            </div>
            <div class="panel-body">
                {{ $length := len .Jobs.Running }}
                {{ if gt $length 0 }}
                <form action="/killmany" method="post">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="jobkill" name="killall" id="killall" />
                                        </label>
                                    </div>
                                </th>
                                <th>Job ID</th>
                                <th>User Name</th>
                                <th>Amount of Data Queried</th>
                                <th>Running For</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Jobs.Running }}
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="{{.ID}}" name="jobkill" />
                                        </label>
                                    </div>
                                </td>
                                <td>{{.ID}}</td>
                                <td>{{.UserName}}</td>
                                <td>{{.HumanDataQueried}}</td>
                                <td>{{.RunTime}}</td>
                                <td>
                                    <a href="/describe/{{.ID}}">
                                        <input value="info" name="{{.ID}}" class="btn btn-danger" />
                                    </a>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <div class="button">
                        <input type="submit" value="Kill Selected" name="killall" class="btn btn-danger btn-lg" />
                    </div>
                </form>
                {{ else }}
                <p> No Running Jobs/Queries </p>
                {{ end }}
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" >
    </div>
    <!-- /.col-lg-12-->
</div>
<!-- /.row -->
<div class="row" >
    <div class="col-lg-12" >
        <div class="panel panel-success">
            <div class="panel-heading">
                Completed Queries
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Job ID</th>
                            <th>User Name</th>
                            <th>Amount of Data Queried</th>
                            <th>Time To Completion<th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Jobs.Done }}
                        <tr>
                            <td>{{.ID}}</td>
                            <td>{{.UserName}}</td>
                            <td>{{.HumanDataQueried}}</td>
                            <td>{{.RunTime}}</td>
                            <td>
                                <a href="/describe/{{.ID}}">
                                    <div class="button">
                                        <input type="submit" value="info" name="{{.ID}}" class="btn btn-info" />
                                    </div>
                                </a>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <nav aria-label="...">
                    <ul class="pager">
                        <li>
                            <a href="/completed?token={{ .Jobs.NextPage }}">
                                More<span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
{{ end }}
